body {
margin: 0px;
text-align: center;
font-family: 'Merriweather', serif;
}

h1 {

margin: 50px auto 0 auto;
font-family: 'Sacramento', sans-serif;
font-size: 5.526em;
line-height: 2;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-weight: normal;
color: #66BFBF;

}

h3 {
font-family: 'Montserrat', sans-serif;
color: #11999E;
}

p {
color: #40514E;
}

hr {
border: 10px 0 0 0;
/* border-top:10px  dotted #EAF6F6; */
border-top:10px  dotted red;
width: 5%;


}

.bottom-container {
background-color: #66BFBF;
padding: 45px;
}

.btn {
border-radius: 8px;

background-image: linear-gradient(#11cdd4, #11999e);
text-decoration: none;
padding: 7px 20px;
color: white;
margin: 20px;
}

.btn:hover {
background-image: linear-gradient(#30e3cb, #2bc4ad);
}

.cloud-img {
position: absolute;
width: 20%;
top: 10%;
left: 60%;

}

.cloud-img-2 {
width: 20%;
position: absolute;
top: 50%;
left: 15%;

}

.contact-me {
margin: 90px;
}

.copyright {
padding: 10px;
color: #EAF6F6;
}

.footer-link {
color: #11999E;
margin: 2%;
text-decoration: none;
}

.line-spacing {
line-height: 2;
}

.mountain-img {
    width : 50%;
}

.pro {
text-decoration: underline;
color: rgb(255, 0, 0);
}

.profile {
padding: 90px;
}

.skills {
    margin: 90px;
}
.skill-img-float-left {
width: 25%;
float: left;
margin-right: 30px;
}

.skill-img-float-right {
width: 25%;
float: right;
margin-left: 30px;
}


.skill-row {
width: 50%;
margin: 100px auto;
text-align: left;
line-height: 2;
}

.subheading {
font-size: 2.5em;
}


.topheading {
color: #66BFBF;
}

.top-container {
background-color: #EAF6F6;
position: relative;
padding-top: 15%;
}



